# PostgreSQL
POSTGRES_USER=root
POSTGRES_PASSWORD=change_me_secure_password
POSTGRES_DB=foodstorm
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis_password

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASS=change_me_rabbitmq_password

# PgAdmin (только для разработки)
PGADMIN_EMAIL=admin@foodstorm.com
PGADMIN_PASSWORD=change_me_pgadmin_password

# Приложение
APP_ENV=development
DEBUG=true
LOG_LEVEL=debug